# Java 관련
*.class
*.jar
*.war
*.log
hs_err_pid*
replay_pid*

# IDE 관련 (IntelliJ, VS Code 등)
.idea/
*.iml
.vscode/
.settings/
.factorypath
.classpath
.project
.sts4-cache

# Maven / Gradle 빌드 파일
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# 환경 파일 (API 키, DB 설정 등)
.env

# OS 관련
.DS_Store
